<section>
    {{#if roleDirector}}
    <a href="/dashboard/add-category"> Create a New Category</a>
    <a href="/dashboard/add-product"> Create a New Product</a>
    {{/if}}
    <ol>
        {{#each categories}}
        <li>
            <article>
                <div>
                    <a href="dashboard/vehicle/{{id}}">{{category_name}}</a>
                </div>
                <div>
                    <p>Make: {{Product.make}}</p>
                    <p>Model: {{Product.model}}</p>
                    <p>Year: {{Product.year}}</p>
                </div>
            </article>
        </li>
        {{/each}}
    </ol>
</section>